<div class="book-detail-outer-layout">
  <app-navbar></app-navbar>
  <div class="book-detail-inner-layout">
    <div class="row">
      <div class="col-sm-3">
        <div class="book-image-layout">
          <div class="book-image-inner-layout" *ngIf="selectedBook?.ImageUrl">
              <img [src]= selectedBook.ImageUrl class="book-image"/>
          </div>
          <div class="book-image-inner-layout no-image" *ngIf="!selectedBook?.ImageUrl">
          </div>
        </div>
        <div class="add-to-cart-layout">
          <button class="add-to-cart-button" (click) = "addToCart(selectedBook)">
            <i class="fa-solid fa-cart-shopping cart-icon "></i>
            ADD TO CART
          </button>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="book-items-layout">
          <div class="book-title">
            <h1 class="book-title-descripition">{{selectedBook?.book_name}}</h1>
          </div>
          <div class="book-author-name">
            By <span class="author-name">{{selectedBook?.author_name}}</span>
          </div>
          <div class="book-price">
            <span class="currency-symbol">&#8377;</span>
            <span class="price">{{selectedBook?.price}} </span>
          </div>
          <div class="book-star-rating">
            <span class="star-rating">{{selectedBook?.starRating}} </span>
            <img src="assets/images/star.svg" class="star-image"/>
          </div>
          <div class="verified-layout">
            <img src="assets/images/verified-icon.png" alt="verified" class="verified-icon-image"/>
            <span class="verified-text">Verified</span>
          </div>
          <div class="book-description-layout">
            <div class="description-heading-layout">
              <h2 class="description-heading-text">Description</h2>
            </div>
            <div class="description-body-layout">
              <p class="description-text">{{selectedBook?.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="growlMessage">
      {{growlMessage}} 
    </div>
  </div>
</div>
